.about {
  padding: 3rem 0 13rem 5rem;
  width: 100vw;

  &_main {
    display: flex;
    justify-content: space-between;

    &--text {
      padding-top: 4rem;
      .heading {
        @include heading;
        font-size: 6.5rem;
      }

      .paragraph {
        @include text;
        font-size: 2rem;
        padding: 1rem 0 10rem 0;
      }

      .anchor {
        @include heading;
        font-size: 6.5rem;
        text-decoration: none;
        padding-top: 3rem;
      }
    }

    &--photo {
      height: 50rem;
    }
  }
}
