.about {
  padding: 3rem 0 10rem 5rem;
  width: 100vw;

  &_main {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5rem;

    &--text {
      padding-top: 4rem;
      .heading {
        @include heading;
        font-size: 6.5rem;
      }

      .paragraph {
        @include text;
        font-size: 2rem;
        padding: 1rem 0 10rem 0;
      }

      .anchor {
        @include heading;
        font-size: 6.5rem;
        text-decoration: none;
        padding-top: 3rem;
      }
    }

    &--photo {
      height: 50rem;
      position: absolute;
      right: 0;
    }
  }

  &_skills {
    padding-right: 8rem;
    display: flex;
    justify-content: space-between;
    z-index: 1;

    &--text {
      @include text;
      font-size: 1.5rem;
      width: 50%;
    }

    &--icons {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: minmax(100px, auto);
      gap: 4rem;
      justify-items: center;
    }

    &--icon {
      text-align: center;
      position: relative;
      transition: .4s ease-in all;

      img {
        height: 6rem;
      }

      p {
        @include text;
        font-size: 1.5rem;
        padding-top: .5rem;
      }
    }

    .unanimated-icon {
      transform: translate(700px, 0);
    }
  }
}
