@use "sass:map";

html {
  scroll-behavior: smooth;
}

.app {
  display: flex;
  justify-content: center;
  background-color: map.get($colors, background-color);
  position: relative;
  
  &_background {
    width: 100%;
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;

    &--closest {
      background-image: url("../images/closest.png");
    }

    &--middle {
      background-image: url("../images/middle.png");
    }

    &--furthest {
      background-image: url("../images/furthest.png");
    }
  }

  &_components {
    z-index: 1;
  }
}

::-webkit-scrollbar {
  width: 0px;
}
