@use "sass:map";

html {
  scroll-behavior: smooth;
}

.app {
  display: flex;
  justify-content: center;
  background-color: map.get($colors, background-color);
  
  &_background {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;

    &--frame5 {
      background-image: url("../images/Frame\ 5.png");
    }

    &--frame6 {
      background-image: url("../images/Frame\ 6.png");
    }

    &--frame7 {
      background-image: url("../images/Frame\ 7.png");
    }
  }

  &_components {
    z-index: 1;
  }
}

::-webkit-scrollbar {
  width: 0px;
}
