@use "sass:map";


.contact {
  padding: 0 5rem 7rem 5rem;
  width: 100vw;

  &_heading {
    text-align: center;
    @include heading;
    font-size: 5rem;
    padding: 5rem 0;
  }

  &_information {
    display: flex;
    justify-content: space-between;
    @include text;

    &--name {
      font-size: 4rem;
      padding-bottom: 5rem;
    }

    &--details {
      display: flex;
      align-items: center;
      font-size: 2rem;
      padding-bottom: 2rem;
    }

    &--paragraph,
    &--link {
      padding-left: 2rem;
    }

    &--link {
      color: map.get($colors, font-color);
      text-decoration: none;
    }

    &--icon {
      color: map.get($colors, accent-color);
    }
  }
            .animation {
              animation: circle 18s ease-in-out infinite alternate;
              height: 1rem;      
              // @keyframes circle {
              //   from {transform: rotate(0deg) translateX(20px) rotate(0deg);}
              //   to {transform: rotate(360deg) translateX(20px) rotate(-360deg);}
              position: relative;
              left: 21rem;
              bottom: 19rem;
      
              @keyframes circle {
                @for $i from 1 through 20 {
                  #{($i *10%)} {
                    transform: translate3d((random(5) * 10px), (random(5) * 10px), (random(5) * 10px));
                  }
                }
              }
      
              &:after {
                content: "";
                position: absolute;
                top: 9.5rem;
                left: 8rem;
                border-radius: 50%;
                width: 4rem;
                height: 1rem;
                border-left: .4rem solid transparent;
                border-bottom: .4rem solid black;
                border-right: .4rem solid transparent;
                transform: rotate(5deg);
                background-color: transparent;
              }
      
              .face {
                width: 20rem;
                height: 20rem;
                border-radius: 50%;
                background: map.get($colors, accent-color);
                display: flex;
                justify-content: center;
                align-items: center;
                transform: rotate(5deg);
      
                &:after {
                  content: "";
                  position: absolute;
                  top: 35%;
                  left: 22%;
                  width: 2rem;
                  height: 2rem;
                  background: rgb(255, 255, 255);
                  border-radius: 50%;
                  z-index: 1;
                }
      
                &:before {
                  content: "";
                  position: absolute;
                  top: 35%;
                  left: 79%;
                  width: 2rem;
                  height: 2rem;
                  background: rgb(255, 255, 255);
                  border-radius: 50%;
                  z-index: 1;
                }
      
                .eyes {
                  position: relative;
                  top: -20px;
                  display: flex;
      
                  .eye {
                    position: relative;
                    width: 5rem;
                    height: 5rem;
                    display: block;
                    background: #fff;
                    margin: 0 3.2rem;
                    border-radius: 50%;
      
                    &:after {
                      content: "";
                      position: absolute;
                      transform: translate(4%, 4%);
                      width: 4rem;
                      height: 4rem;
                      background: rgb(0, 0, 0);
                      border-radius: 50%;
                    }
                  }
                }
              }
            }
}
