@use "sass:map";

@mixin heading {
  font-family: $font-heading;
  color: map.get($colors, accent-color);
  letter-spacing: -.3rem;
}

@mixin text {
  font-family: $font-paragraph;
  color: map.get($colors, font-color);
}
