@use "sass:map";

.work {
  padding: 7rem 5rem 13rem 5rem;
  background-image: url(../images/pipe.png);
  background-repeat: no-repeat;
  background-size: 76vh;
  background-position-x: 32vw;
  background-position-y: 70vh;

  &_main {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--text {
      .heading {
        @include heading;
        font-size: 6.5rem;
      }

      .paragraph {
        @include text;
        font-size: 3rem;
        padding: 1rem 0 10rem 0;
        letter-spacing: .2rem;
      }

      .anchor {
        @include heading;
        font-size: 5rem;
        text-decoration: none;
        padding-top: 2rem;
      }
    }

    &--animation {
      animation: circle 20s ease-in-out infinite alternate;

      // @keyframes circle {
      //   from {transform: rotate(0deg) translateX(20px) rotate(0deg);}
      //   to {transform: rotate(360deg) translateX(20px) rotate(-360deg);}
      // }

            @keyframes circle {
              @for $i from 1 through 20 {
                #{($i *10%)} {
                  transform: translate3d((random(5) * 10px), (random(5) * 10px), (random(5) * 10px));
                }
              }
            }

            &:after {
              content: "";
              position: absolute;
              top: 38%;
              left: 31%;
              border-radius: 50%;
              width: 6rem;
              height: 1.5rem;
              border-left: .4rem solid transparent;
              border-bottom: .4rem solid black;
              border-right: .4rem solid transparent;
              transform: rotate(-10deg);
              background-color: transparent;
            }

      .face {
        position: relative;
        width: 30rem;
        height: 30rem;
        border-radius: 50%;
        background: map.get($colors, accent-color);
        display: flex;
        justify-content: center;
        align-items: center;
        right: 3rem;
        top: -3rem;
        transform: rotate(-10deg);

        &:after {
          content: "";
          position: absolute;
          top: 37%;
          left: 20%;
          width: 3rem;
          height: 3rem;
          background: rgb(255, 255, 255);
          border-radius: 50%;
          z-index: 1;
        }

        &:before {
          content: "";
          position: absolute;
          top: 37%;
          left: 77%;
          width: 3rem;
          height: 3rem;
          background: rgb(255, 255, 255);
          border-radius: 50%;
          z-index: 1;
        }

        .eyes {
          position: relative;
          top: -20px;
          display: flex;

          .eye {
            position: relative;
            width: 7rem;
            height: 7rem;
            display: block;
            background: #fff;
            margin: 0 5rem;
            border-radius: 50%;

            &:after {
              content: "";
              position: absolute;
              transform: translate(4%, 4%);
              width: 5.7rem;
              height: 5.7rem;
              background: rgb(0, 0, 0);
              border-radius: 50%;
            }
          }
        }
      }
    }
  }

  &_websites {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
    gap: 4rem;
    color: white;
    margin-top: 10rem;

    &--screenshot {
      width: 55rem;
      border-radius: 1rem;

      .image {
        object-fit: contain;
        border-radius: 1rem;
      }
    }

    &--info {
      a {
        @include heading;
        font-size: 3rem;
        letter-spacing: -.2rem;
        justify-self: left;
        margin-bottom: .5rem;
        text-decoration: none;
      }

      h4 {
        @include heading;
        font-size: 2.2rem;
        letter-spacing: normal;
        margin: 2rem 0 .5rem 0;

        span {
          font-size: .9rem;
        }
      }

      p {
        @include text;
        font-size: 2rem;
        margin-bottom: 2rem;
      }

      .about-website {
        font-size: 1.5rem;
      }

      .technologies-and-links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .technologies {
          display: flex;
          align-items: center;
          gap: 2rem;

          &_icon {
            height: 2rem;
          }
        }

        .links {
          font-size: 1.5rem;
          letter-spacing: normal;
          margin-left: 1.5rem;
        }
      }
    }
  }
}
